<!-- -->
<ion-content >
    <div class="login-content">

       
        <ion-item-group>
  
            <h1 ion-text class="text-primary">
                <strong align="center">My Alert</strong>
              </h1>
  
          <ion-item>
            <ion-select cancelText="Cancel" okText="OK" [(ngModel)]="gender" (ionChange)="onSelectChange($event)">
              <ion-option value="1" selected="true">Alert</ion-option>
              <ion-option value="2">Advance Alert</ion-option>
            </ion-select>
          </ion-item>
  
        </ion-item-group>
  
  
    </div>
  </ion-content>