<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Panthomath</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" novalidate [formGroup]="validations_form" >
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email/Mobile
        </ion-label>
        <ion-input type="email" formControlName="mail" class="form-controll" required></ion-input>
      </ion-item>
    </form>
    <div>
      <button ion-button icon-start block color="dark" tappable [disabled]="!validations_form.valid" (click)="login(validations_form.value)">
        <ion-icon name="log-in"></ion-icon>
        SIGN IN
      </button>
    </div>
    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">New here? <strong>Sign up</strong></span>
    </div>

  </div>
</ion-content>
