<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <div padding text-center>
      <!-- <div class="logo"></div> -->
      <h2 ion-text class="text-primary">
        <strong>Add Alert</strong>
      </h2>
    </div>

    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon item-start class="text-primary"></ion-icon>
          Enter Alert Name
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <br><br>
      <h1 ion-text class="text-primary">
        <strong>Alert When</strong>
      </h1>

      <ion-item-group>
        <ion-item>
          <ion-label>Stock</ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>
            <ion-option value="en-US" selected="true">English (US)</ion-option>
            <ion-option value="en-GB">English (UK)</ion-option>
            <ion-option value="en-CA">English (CA)</ion-option>
            <ion-option value="en-AU">English (AU)</ion-option>



          </ion-select>
        </ion-item>

      </ion-item-group>
      <h1 ion-text class="text-primary">
        <strong>Is</strong>
      </h1>

      <ion-item-group>
        <ion-item>
          <ion-label>Grater</ion-label>

          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="en-US" selected="true">
              <</ion-option>
                <ion-option value="en-GB">></ion-option>
                <ion-option value="en-CA">
                  <=</ion-option>
                    <ion-option value="en-AU">>=</ion-option>

          </ion-select>

        </ion-item>

      </ion-item-group>

      <h1 ion-text class="text-primary">
        <strong>Than</strong>
      </h1>



      <ion-item>
        <ion-label floating>
          <ion-icon name="values" item-start class="text-primary"></ion-icon>
          Value
        </ion-label>
        <ion-input type="value"></ion-input>
      </ion-item>

<br><br>
      <ion-item-group>
        <ion-item>
          <ion-label>Codition</ion-label>

          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="en-US" selected="true">AND</ion-option>
            <ion-option value="en-GB">OR</ion-option>


          </ion-select>

        </ion-item>

      </ion-item-group>

    </form>

  </div>
</ion-content>