<!-- -->
<ion-content class="auth-page">
  <div class="login-content">
      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="light" name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <div padding text-center>
      <!-- <div class="logo"></div> -->
      <h2 ion-text class="text-primary">
        <strong>Add Alert</strong>
      </h2>
    </div>

    <form class="list-form" [formGroup]="validations_form">
      <ion-item>
        <ion-label floating>
          <ion-icon item-start class="text-primary"></ion-icon>
          Enter Alert Name
        </ion-label>
        <ion-input type="text" formControlName="sAlertName"></ion-input>
      </ion-item>
      <br><br>
      <h1 ion-text class="text-primary">
        <strong>Alert When</strong>
      </h1>

      <ion-item-group>
        <ion-item>
          <ion-label>Stock</ion-label>
          <ion-select cancelText="Cancel" formControlName="nScripToken" okText="OK">
            <ion-option value="22" selected="true">ACC</ion-option>
            <ion-option value="1594">INFY</ion-option>
            <ion-option value="3456">TATAMTRS</ion-option>
            <ion-option value="547">BRITANNIA</ion-option>
            <ion-option value="11536">TCS</ion-option>
            <ion-option value="3499">TATASTEEL</ion-option>
            <ion-option value="7229">HCLTECH</ion-option>
            <ion-option value="13538">TECHM</ion-option>
            <ion-option value="3045">SBIIN</ion-option>
          </ion-select>
        </ion-item>

      </ion-item-group>
      <h1 ion-text class="text-primary">
        <strong>Is</strong>
      </h1>

      <ion-item-group>
        <ion-item>
          <ion-label>Greater</ion-label>

          <ion-select cancelText="Cancel" formControlName="sVariable" okText="OK">
                <ion-option value="LTP" >LTP</ion-option>
                

          </ion-select>

        </ion-item>

      </ion-item-group>

      <ion-item-group>
          <ion-item>
            <ion-label>Condition</ion-label>
  
            <ion-select cancelText="Cancel" formControlName="nCondition" okText="OK">
              <ion-option value="1" selected="true"><</ion-option>
                  <ion-option value="2">></ion-option>
                  <ion-option value="3"><=</ion-option>       
                  <ion-option value="4">>=</ion-option>
                  <ion-option value="5">=</ion-option>
  
            </ion-select>
  
          </ion-item>
  
        </ion-item-group>

      <h1 ion-text class="text-primary">
        <strong>Than</strong>
      </h1>



      <ion-item>
        <ion-label floating>
          <ion-icon name="values" item-start class="text-primary"></ion-icon>
          Value
        </ion-label>
        <ion-input type="value" formControlName="nPrice" ></ion-input>
      </ion-item>
      <ion-item>
      <button ion-button icon-start block color="dark" (click)="save()" tappable>
          <ion-icon name="log-in"></ion-icon>
         Save
        </button>
      </ion-item>
    </form>

  </div>
</ion-content>