<!-- -->


<ion-content>
  <div class="login-content">

      <ion-buttons left>
          <button navPop ion-button icon-only>
            <ion-icon color="light" name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
      <ion-item-group>

        <h1 ion-text class="text-primary">
          <strong text-center >Advance alert</strong>
        </h1>

        <ion-item>
          <ion-label floating>
            Alert Name
          </ion-label>
          <ion-input type="alertName" class="form-controll" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                Alert1
              </ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true">A1</ion-option>
            <ion-option value="2">A2</ion-option>
            <ion-option value="3">A3</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>
                Condition1
              </ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true">AND</ion-option>
            <ion-option value="2">OR</ion-option>
          </ion-select>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item>
            <ion-label floating>
                Alert2
              </ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true">A1</ion-option>
            <ion-option value="2">A2</ion-option>
            <ion-option value="3">A3</ion-option>
          </ion-select>
        </ion-item>



        <ion-item>
            <ion-label floating>
                Condition2
              </ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true">AND</ion-option>
            <ion-option value="2">OR</ion-option>
          </ion-select>
        </ion-item>


        <ion-item>
            <ion-label floating>
                Alert3
              </ion-label>
          <ion-select cancelText="Cancel" okText="OK">
            <ion-option value="1" selected="true">A1</ion-option>
            <ion-option value="2">A2</ion-option>
            <ion-option value="3">A3</ion-option>
          </ion-select>
        </ion-item>
      </ion-item-group>

      <button ion-button icon-start block color="dark" tappable>
          <ion-icon name="log-in"></ion-icon>
         Save
        </button>
    
      </div>
    </ion-content>
      <!-- <ion-footer>
          <ion-toolbar>
            <ion-title>Footer</ion-title>

            <ion-item>
              <ion-label>Condition</ion-label>

              <ion-select cancelText="Cancel" okText="OK">
                <ion-option value="1" selected="true">AND</ion-option>
                <ion-option value="2">OR</ion-option>
              </ion-select>

            </ion-item>
            <ion-item>

              <ion-icon (click)='addAlert()' float-right style="zoom:2.0;" name="add-circle"></ion-icon>

            </ion-item>

          </ion-toolbar>
        </ion-footer> -->





    